.about__title {
  text-align: start;
  margin: 0;


  @media (--not-mobile) {
    margin-bottom: 27px;
  }

  @media (--desktop) {
    padding-left: 50px;
    margin-bottom: 26px;
  }
}

.about__container {
  @media (--mobile) {
    padding-top: 38px;
    padding-bottom: 58px;
  }

  @media (--not-mobile) {
    padding-top: 64.5px;
    padding-bottom: 42px;
  }

  @media (--desktop) {
    padding-top: 83px;
    padding-right: 175px;
    padding-bottom: 48px;
    padding-left: 175px;

    max-width: 1050px;
  }
}


.about__list {
  margin: 0;
}
