.address__list {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  row-gap: 28px;

  @media (--tablet) {
    grid-template-columns: auto 1fr auto 1fr;
    column-gap: 0;
  }
}

.address__email {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.address__title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @media (--tablet) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.address__link {
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 1px solid #62d1ba;

  @media (--not-mobile) {
    font-size: 17px;
    margin-left: 30px;
  }

  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
    transition: all 200ms ease-in;
  }

  &:active {
    color: #46c1ae;
    border-bottom: 1px solid rgba(70, 193, 174, 0.1);
    transition: all 200ms ease-in;
  }
}

.address__content {
  margin: 0;

  &--email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media (--tablet) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @media (--tablet) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      margin-left: 24px;
    }
  }
}
