.advantage {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-content);


  @media (--mobile) {
    grid-template-columns: 1fr;
  }

  @media (--desktop) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.advantage__item {
  margin: 0;

  @media (--mobile) {
    &:nth-child(2n+2) {
      order: 1;
    }
  }
}
