.advantage {
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-content);


  @media (--mobile) {
    grid-template-columns: 1fr;
  }

  @media (--desktop) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.advantage__item {
  margin: 0;
  display: flex;

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(2n+2) {
      order: 1;
    }
  }

  @media (--not-mobile) {
    min-width: 320px;
    align-items: center;
  }


  &--icon_flower {
    --icon: url("../../img/flower.svg");
  }

  &--icon_clew {
    --icon: url("../../img/clew.svg");
  }

  &--icon_banknote {
    --icon: url("../../img/banknote.svg");
  }

  &--icon_rocket {
    --icon: url("../../img/rocke.svg");
  }

  &--icon_heart {
    --icon: url("../../img/heart.svg");
  }

  &--icon_gift-wrap {
    --icon: url("../../img/gift-wrap.svg");
  }

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background: #63d1bb;
    mask: var(--icon) no-repeat;
    box-sizing: border-box;
    transform: translateX(-6px);
  }
}
