.basket-button__field {
  padding: 0;
  margin: 0;

  @media (--not-mobile) {
    padding: 0 80px;
  }
}

.basket-button__title {
  margin: 0 auto 23px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

.basket-button__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7px;
}
