.button-size {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 52px;
  margin: 0;
  border: 2px solid rgba(68, 68, 68, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--mobile) {
    min-width: 82px;
  }
}

.button-size__label {
  cursor: pointer;
}
