.button-size__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 52px;
  margin: 0;
  border: 2px solid rgba(68, 68, 68, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (--mobile) {
    min-width: 82px;
  }

  &:hover {
    outline: 2px solid rgba(68, 68, 68, 0.3);
    outline-offset: -1px;
  }

  &:active {
    outline: 2px solid #62d1ba;
    outline-offset: -1px;
  }
}

.button-size__control:checked + .button-size__label {
  outline: 2px solid #62d1ba;
  outline-offset: -1px;
}
