.button {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  background: var(--main-color);
  padding: 16px 26px;
  color: #444444;
  border: 2px solid #444444;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }


  &--size_wide {
    width: auto;
  }

  &--basket {
    color: #ffffff;
    background-color: #63d1bb;
    font-size: 17px;
    line-height: 16px;
    border: none;
    padding: 18px 0;
  }
}
