.cards-wrapper {
  display: flex;
  flex-direction: column;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 54px;
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
    max-width: 1051px;
  }
}
