.card-product {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  border: 1px solid #ececec;

  @media (--tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 54px 0;
  }
}

.card-product__list {
  @media (--desktop) {
    flex-grow: 1;
  }
}

.card-product__image {
  order: -1;


  img {
    display: block;
  }

  @media (--not-mobile) {
    grid-column: 1 / 2;
    object-fit: cover;
  }
}

.card-product__link {
  text-decoration: none;
  color: #000000;
}

.card-product__title {
  margin-top: 27.5px;
}

.card-product__price {
  margin: 0;

  @media (--tablet) {
    margin-top: 172.5px;
  }

  @media (--desktop) {
    margin-top: auto;
    justify-self: end;
  }
}
