
.color-form__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-content);

  @media (--mobile) {
    grid-template-columns: 1fr;
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-form__title {
  margin-bottom: 25px;
}

.color-form__item {
  &:not(:last-child) {
    margin-bottom: 23px;

    @media (--not-mobile) {
      margin-bottom: 60px;
    }

    @media (--desktop) {
      margin-bottom: 57px;
    }
  }
}
