
.color-form__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-content);

  @media (--mobile) {
    grid-template-columns: 1fr;
  }

  @media (--not-mobile) {
    column-gap: 22px;
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 110px;
    row-gap: 26px;
  }
}

.color-form__title {
  margin-bottom: 25px;

  @media (--not-mobile) {
    margin-top: 20px;
  }
}

.color-form__item {
  &:not(:last-child) {
    margin-bottom: 23px;

    @media (--not-mobile) {
      margin-bottom: 24px;
    }

    @media (--desktop) {
      margin-bottom: 0;
    }
  }
}
