.contacts {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
}

.contacts__address {
  margin-bottom: 52px;
}

.contacts__button {
  margin-bottom: 39px;
}
