.contacts {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding-top: 38px;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    max-width: 1052px;
    margin-inline: auto;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  margin-left: 30px;
  text-align: start;
  justify-self: flex-start;

  @media (--not-mobile) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-left: 50px;
    margin-bottom: 50px;
  }


  @media (--desktop) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-top: 85px;
    margin-bottom: 35px;
    margin-left: 0;
  }
}

.contacts__address {
  margin-bottom: 52px;

  @media (--not-mobile) {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  @media (--desktop) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-bottom: 84.5px;
  }
}

.contacts__map {
  @media (--not-mobile) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-bottom: 55px;
  }

  @media (--desktop) {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    max-width: 527px;
  }
}

.contacts__button-wrapper {
  margin-bottom: 39px;

  @media (--not-mobile) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  @media (--desktop) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-right: 119px;
  }
}
