.copyright {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;

  @media (--mobile) {
    padding: 22px 0 23px;
  }
}

.copyright__link {

  background-position: center;
  background-size: 27px 34px;
  margin-left: 27px;
  --icon: url("../../icons/sprite.svg#htmlacademy-mob");
  cursor: pointer;

  &:hover::after {
    background: #46c1ae;
    transition: all 200ms ease-in;
  }

  &:active::after {
    background: rgba(70, 193, 174, 0.3);
    transition: all 200ms ease-in;
  }

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background: #63d1bb;
    mask: var(--icon) no-repeat;
    box-sizing: border-box;
    transition: all 200ms ease-in;
  }
}
