.fieldset-grid {
  padding: 0;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.fieldset-grid__title {
  padding: 0;


  @media (--not-mobile) {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    display: block;
  }

  @media (--desktop) {
    grid-column: 1 / 2;
    grid-row: 1 /2;
  }
}

.fieldset-grid__content {
  padding: 0;


  @media (--not-mobile) {
    grid-column: 2 / -1;
    grid-row: 1 /2;
  }

  @media (--desktop) {
    grid-column: 2 / -1;
    grid-row: 1 /2;
  }

  &--short {
    @media (--desktop) {
      grid-column: 2 / 6;
    }
  }
}

.fieldset-grid__button {
  @media (--not-mobile) {
    grid-column: 1 / -1;
    grid-row: 2 /3;
  }

  @media (--desktop) {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
  }
}
