.form-order {
  padding-top: 17px;
  background: var(--main-color);

  @media (--not-mobile) {
    padding-top: 54px;
  }

  @media (--desktop) {
    padding-top: 98.5px;
  }
}

.form-order__text {
  margin-bottom: 29px;
  margin-top: 0;

  @media (--not-mobile) {
    margin-bottom: 63px;
  }
}

.form-order__field-type {
  margin-bottom: 43px;
}

.form-order__field-color {
  margin-bottom: 33px;

  @media (--not-mobile) {
    background-color: var(--second-color);
    padding: 50px 0;
  }
}

.form-order__field-user {
  margin-bottom: 34.5px;
}

.form-order__field-contacts {
  margin-bottom: 34.5px;

  @media (--not-mobile) {
    background-color: var(--second-color);
  }
}

.form-order__field-info {
  margin-bottom: 17px;
}

.form-order__required-note {
  margin-bottom: 30px;
  color: #444444;
  font-size: 14px;
  line-height: 1.14;
}
