.form-order {
  padding: 17px 29px 55px;
}

.form-order__text {
  margin-bottom: 29px;
}

.form-order__field-type {
  margin-bottom: 43px;
}

.form-order__field-color {
  margin-bottom: 33px;
}

.form-order__field-user {
  margin-bottom: 34.5px;
}

.form-order__field-contacts {
  margin-bottom: 34.5px;
}

.form-order__field-info {
  margin-bottom: 17px;
}

.form-order__required-note {
  margin-bottom: 30px;
}
