.heading {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  @media (--not-mobile) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (--desktop) {
    font-size: 53px;
    line-height: 57px;
  }

  &--level_2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &--level_3 {
    font-size: 17px;
    line-height: 1.41;
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;

    @media (--not-mobile) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
