.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  transition: all 200ms ease-in;


  img {
    @media (--tablet) {
      width: 116px;
      height: 46px;
    }

    @media (--desktop) {
      width: 150px;
      height: 72px;
    }

    &:hover {
      opacity: 60%;
      transition: all 200ms ease-in;
    }

    &:active {
      opacity: 30%;
      transition: all 200ms ease-in;
    }
  }
}
