.heading {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;

  &--level_2 {
    font-size: 25px;
    margin: 0;
  }

  &--level_3 {
    font-size: 17px;
    line-height: 24px;
  }
}
