.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;


  img {
    @media (--tablet) {
      width: 116px;
      height: 46px;
    }

    @media (--desktop) {
      width: 150px;
      height: 72px;
    }

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }
}
