.label-form {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-color);
  word-wrap: normal;

  @media (--mobile) {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: relative;
      background: #62d1ba;
      height: 1px;
      width: 100%;
      display: block;
      margin-left: 15px;
    }
  }
}
