.line-decor--bottom::after {
  content: "";
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto;
  position: absolute;
  display: block;
  box-sizing: border-box;
  left: 0;
  right: 0;
  z-index: 2;
  height: 6px;
  margin-top: 36px;


  @media (--not-mobile) {
    height: 17px;
    margin-top: 52px;
  }

  @media (--desktop) {
    height: 23px;
    margin-top: 73px;
  }
}
