.line-decor--bottom::after {
  content: "";
  background-image: url("../../icons/sprite.svg#zigzag-line");
  background-repeat: repeat-x;
  background-size: 16px;
  background-position: center;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  z-index: 2;
  height: 6px;
  margin-top: 1px;


  @media (--not-mobile) {
    height: 17px;
    margin-top: 44px;
    background-size: 45px;
  }

  @media (--desktop) {
    height: 23px;
    margin-top: 63px;
    background-size: 60px;
  }
}
