.main-header {
  background: var(--main-color, #ffffff);
  padding: 22px 31px;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;


  @media (--not-mobile) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
  }
}

.main-header__wrapper {
  position: relative;
  border-bottom: 1px solid #000000;
}

.main-header__logo {
  @media (--not-mobile) {
    order: 1;
  }

  @media (--desktop) {
    order: 2;
  }
}


.main-header__toggle {
  position: absolute;
  border: none;
  display: block;
  background-color: var(--main-color);
  width: 21px;
  height: 20px;
  z-index: 2;
  right: 60px;
  top: 40%;
  cursor: pointer;

  @media (--not-mobile) {
    display: none;
  }
}


.main-header--menu_closed .main-header__toggle::before {
  content: "";
  background: url("../../img/header-nav-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
  display: block;
  justify-self: end;

  @media (--not-mobile) {
    display: none;
  }
}

.main-header--menu_closed .main-header__nav-container {
  @media (--mobile) {
    display: none;
  }
}

.main-header--menu_opened .main-header__toggle::before {
  content: "";
  background: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 20px;
  display: block;
  justify-self: end;

  @media (--not-mobile) {
    display: none;
  }
}

.main-header--menu_opened .main-header__nav-container {
  @media (--mobile) {
    position: absolute;
    bottom: -400%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--main-color);
    min-width: 320px;
  }

  @media (--not-mobile) {
    display: contents;
  }
}


.main-header--nojs .nav-container {
  position: static;
  min-height: 0;
  bottom: -400%;
}


.main-header__nav {
  @media (--mobile) {
    margin: 0;
  }

  @media (--not-mobile) {
    order: 3;
    position: absolute;
    bottom: -200%;
    left: 0;
    background: transparent;
  }

  @media (--desktop) {
    order: 1;
  }
}

.main-header__user {
  @media (--not-mobile) {
    order: 2;
  }
}

.main-header__description {
  @media (--mobile) {
    display: none;
  }

  @media (--not-mobile) {
    order: 4;
    position: absolute;
    bottom: -50%;
    right: 30px;
  }
}

.main-nav__sublist {
  @media (--not-mobile) {
    display: none;
  }

  @media (--desktop) {
    position: absolute;
    bottom: -50%;
    left: 30px;
    background: transparent;
    display: block;
  }
}
