.main-footer {
  background: var(--second-color);
  min-width: 320px;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;


  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 51px 0 58px;
  }
}

.main-footer__logo {
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 102px 34px;
  --icon: url("../../img/logo-footer.svg");
  cursor: pointer;

  &:hover::after {
    background: #46c1ae;
  }

  &:active::after {
    background: rgba(70, 193, 174, 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 102px;
    height: 34px;
    background: #000000;
    mask: var(--icon);
    box-sizing: border-box;
  }


  @media (--not-mobile) {
    display: block;
    height: 34px;
    justify-self: flex-start;
  }
}

.main-footer__social {
  @media (--not-mobile) {
    justify-self: center;
  }
}

.main-footer__copyright {
  @media (--not-mobile) {
    justify-self: flex-end;
  }
}
