.main-header {
  background: var(--main-color, #ffffff);
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
  z-index: 2;


  @media (--not-mobile) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
    position: relative;
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.main-header__wrapper {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__logo {
  @media (--not-mobile) {
    order: 1;
  }

  @media (--desktop) {
    order: 2;
  }
}


.main-header__toggle {
  position: absolute;
  border: none;
  display: block;
  background-color: var(--main-color);
  width: 21px;
  height: 20px;
  z-index: 2;
  right: 30px;
  top: 40%;
  cursor: pointer;

  @media (--not-mobile) {
    display: none;
  }
}


.main-header--menu_closed .main-header__toggle::before {
  content: "";
  background: url("../../img/header-nav-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 14px;
  display: block;
  justify-self: flex-end;

  @media (--not-mobile) {
    display: none;
  }
}

.main-header--menu_closed .main-header__nav-container {
  @media (--mobile) {
    display: none;
  }
}

.main-header--menu_opened .main-header__toggle::before {
  content: "";
  background: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 20px;
  display: block;
  justify-self: flex-end;

  @media (--not-mobile) {
    display: none;
  }
}

.main-header--menu_opened .main-header__nav-container {
  @media (--mobile) {
    position: absolute;
    bottom: -400%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--main-color);
    min-width: 260px;
  }

  @media (--not-mobile) {
    display: contents;
  }
}


.main-header--nojs .nav-container {
  position: static;
  min-height: 0;
  bottom: -400%;
  left: 0;
}


.main-header__nav {
  @media (--mobile) {
    margin: 0;
  }

  @media (--not-mobile) {
    order: 3;
  }

  @media (--desktop) {
    order: 1;
    justify-content: flex-start;
  }
}

.main-header__user {
  margin: 0;

  @media (--tablet) {
    order: 2;
    margin-left: auto;
  }

  @media (--desktop) {
    order: 3;
    margin-left: auto;
  }
}

.main-header__description {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;

  @media (--mobile) {
    display: none;
  }

  @media (--not-mobile) {
    order: 4;
    position: absolute;
    bottom: -60%;
    right: 0;
  }
}

.main-nav__sublist {
  @media (--not-mobile) {
    display: none;
  }

  @media (--desktop) {
    position: absolute;
    bottom: -60%;
    left: 0;
    background: transparent;
    display: block;
  }
}
