.main-nav {
  background: var(--main-color);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (--mobile) {
    padding: 0;
  }

  @media (--not-mobile) {
    background-color: inherit;
  }
}

.main-nav__list {
  @media (--mobile) {
    margin: 0;
  }

  @media (--not-mobile) {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: transparent;
  }

  @media (--desktop) {
    position: static;
    flex-direction: row;
    min-width: 450px;
  }
}

.main-nav__sublist {
  @media (--mobile) {
    display: none;
  }
}
