.main-header {
  background: var(--main-color, #ffffff);
  padding: 22px 31px;
  display: flex;
  position: relative;
  justify-content: center;
  min-width: 320px;

  @media (--not-mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
  }
}

.main-header__logo {
  height: 35px;

  @media (--not-mobile) {
    order: 1;
  }

  @media (--desktop) {
    order: 2;
  }
}


.main-header__toggle {
  position: absolute;
  border: none;
  background-color: var(--main-color);
  right: 30px;
  top: 40%;

  @media (--not-mobile) {
    display: none;
  }


  &::before {
    content: "";
    background: url("../../img/header-nav-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 14px;
    display: block;
    justify-self: end;
  }
}


.main-header__nav {
  @media (--mobile) {
    margin: 0;
  }

  @media (--tablet) {
    order: 3;
    position: absolute;
    bottom: -50%;
    left: 30px;
    background: transparent;
  }

  @media (--desktop) {
    order: 1;
  }
}

.main-header__user {
  @media (--not-mobile) {
    order: 2;
  }
}

.main-header__description {
  @media (--mobile) {
    display: none;
  }

  @media (--not-mobile) {
    order: 4;
    position: absolute;
    bottom: -50%;
    right: 30px;
  }
}

.main-nav__sublist {
  @media (--not-mobile) {
    display: none;
  }

  @media (--desktop) {
    position: absolute;
    bottom: -50%;
    left: 30px;
    background: transparent;
    display: block;
  }
}
