.main-footer {
  background: var(--second-color);
}

.main-footer__container {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: none;

  @media (--not-mobile) {
    display: block;
    height: 34px;
  }
}
