.main-nav {
  background: var(--main-color);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (--mobile) {
    padding: 0;
  }

  @media (--not-mobile) {
    background-color: inherit;
  }
}

.main-nav__list {
  @media (--mobile) {
    margin: 0;
  }
}

.main-nav__sublist {
  @media (--mobile) {
    display: none;
  }
}
