.nav-container {
  @media (--mobile) {
    position: absolute;
    bottom: -400%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--main-color);
    min-width: 320px;
    z-index: 2;
  }

  @media (--not-mobile) {
    display: contents;
  }
}
