.nav-container {
  @media (--mobile) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    background: var(--main-color);
    min-width: 320px;
    z-index: 2;
  }

  @media (--not-mobile) {
    display: contents;
  }
}
