.page {
  font-family: var(--main-font);
  height: 100%;
  background: var(--main-color);
  margin: 0;
}

.page__body {
  margin: 0;
}


.page__centerer {
  margin-inline: 30px;
  min-width: 260px;
  max-width: 1050px;


  @media (--not-mobile) {
    margin-inline: 50px;
  }

  @media (--desktop) {
    margin-inline: auto;
  }

  &--mobile_off {
    @media (--mobile) {
      display: contents;
    }
  }

  &--desktop_off {
    @media (--desktop) {
      display: contents;
    }
  }
}
