.page {
  font-family: var(--main-font);
  height: 100%;
  background: var(--main-color);
  margin: 0;
}


.page__centerer {
  margin-inline: 30px;

  @media (--not-mobile) {
    margin-inline: 50px;
  }

  @media (--desktop) {
    margin-inline: auto;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.line-decor--bottom {
  background-image: url("../../img/zigzag-line.svg");
  background-position: bottom;
  background-repeat: repeat-x;
}
