.price-of-item {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ececec;
}

.price-of-item__value {
  padding-top: 22.5px;
  padding-bottom: 26.5px;
}

.price-of-item__button {
  --icon: url("../../icons/sprite.svg#basket");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border: none;
  background-color: var(--main-color);

  &:hover::before {
    background: #46c1ae;
    transition: all 200ms ease-in;
  }

  &:active::before {
    background: rgba(70, 193, 174, 0.3);
    transition: all 200ms ease-in;
  }

  &::before {
    content: "";
    display: block;
    mask: var(--icon);
    background: rgba(0, 0, 0, 0.2);
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    transition: all 200ms ease-in;
  }
}
