.products-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.products-list__item {

  width: auto;
}

.products-list__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 24px 36px 31px 30px;
  display: block;
  box-sizing: border-box;

  &--icon_interior {
    background: var(--accent-color, #63d1bb);
  }

  &--icon_toy {
    background: var(--accent-color-dark, #56c3b2);
  }
}
