.products {
  position: relative;
  background-image: url("../../img/background-featured-mobile@1x.jpg");
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-top: 69px;
  box-sizing: border-box;
  min-width: 320px;

  @media (--hippi) {
    background-image: url("../../img/background-featured-mobile@2x.jpg");
  }

  @media (--not-mobile) {
    background-image: url("../../img/background-featured-desktop@1x.jpg");
    padding-top: 90px;

    @media (--hippi) {
      background-image: url("../../img/background-featured-desktop@2x.jpg");
    }

    &::after {
      content: "";
      display: block;
      background: url("../../icons/sprite.svg#wave-decore");
      background-repeat: repeat-x;
      background-size: 35px;
      height: 24px;
      width: 100%;
      position: absolute;
      bottom: -2px;
    }
  }

  @media (--desktop) {
    padding-top: 94px;

    &::after {
      content: "";
      display: block;
      background: url("../../icons/sprite.svg#wave-decore");
      background-repeat: repeat-x;
      background-size: 50px;
      height: 34px;
      width: 100%;
      position: absolute;
      bottom: -2px;
    }
  }
}

.products__title {
  margin-bottom: 0;
  margin-top: 0;
}

.products-list {
  margin: 0;
}
