.products {
  background-image: url("../../img/background-featured-mobile.jpg");
  background-color: var(--main-color, #ffffff);
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  padding-top: 90px;
}


.products-list {
  margin: 0;
}
