.products-list {
  list-style-type: none;
}

.products-list__link {
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding: 24px 36px 31px 30px;
  display: block;
  text-decoration: none;
}

.products-list__link--icon_interior {
  background: var(--accent-color, #63d1bb);
}

.products-list__link--icon_toy {
  background: var(--accent-color-dark, #56c3b2);
}
