.product-price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  display: flex;
  justify-content: center;
  margin: 0;

  @media (--not-mobile) {
    font-size: 20px;
  }
}

.product-price__description {
  word-wrap: break-word;
}

.product-price__number {
  margin: 0;
  margin-left: 5px;
  word-wrap: break-word;
}
