.products-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  @media (--mobile) {
    margin-top: 120px;
  }

  @media (--not-mobile) {
    margin-top: 372px;
    grid-template-columns: 1fr 1fr;
  }

  @media (--desktop) {
    margin-top: 355px;
  }
}

.products-list__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  cursor: pointer;
  padding: 23px 34px 18px 30px;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 35px 27px 36px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 32px;
      transition: all 200ms ease-in;
    }
  }

  @media (--desktop) {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 35px 27px 37px;
  }


  &:hover {
    margin-top: -5px;
    padding-bottom: 23px;
    transition: all 200ms ease-in;
  }


  &--icon_interior {
    background: var(--accent-color, #63d1bb);
    --icon: url("../../icons/sprite.svg#interior");

    &:hover {
      background: #59d5bc;
      transition: all 200ms ease-in;
    }

    &:active {
      background: #59d5bc;
      transition: all 200ms ease-in;
    }


    @media (--not-mobile) {
      &:hover {
        background: #59d5bc;
        transition: all 200ms ease-in;
      }
    }

    @media (--desktop) {
      &:hover {
        background: #59d5bc;
        transition: all 200ms ease-in;
      }
    }
  }

  &--icon_toy {
    background: var(--accent-color-dark, #56c3b2);
    --icon: url("../../icons/sprite.svg#toy");

    &:hover {
      background: #46c1ae;
      transition: all 200ms ease-in;
    }

    &:active {
      background: #46c1ae;
      transition: all 200ms ease-in;
    }

    @media (--not-mobile) {
      &:hover {
        background: #46c1ae;
        transition: all 200ms ease-in;
      }
    }

    @media (--desktop) {
      &:hover {
        background: #46c1ae;
        transition: all 200ms ease-in;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background: rgba(20, 144, 128, 0.5);
    mask: var(--icon) no-repeat;
    transition: all 200ms ease-in;
  }
}
