.reviews {
  position: relative;


  @media (--not-mobile) {
    background: url("../../img/review-mobile.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 350px 457px;
    height: 457px;
    padding-bottom: 85px;
  }

  @media (--desktop) {
    margin-inline: auto;
    max-width: 1050px;
    padding-bottom: 67px;
  }
}

.reviews__container {
  min-width: 260px;
  max-width: 1050px;

  @media (--mobile) {
    padding-bottom: 45px;
  }

  @media (--not-mobile) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 78px;
    padding-bottom: 47px;
    position: relative;
  }

  @media (--desktop) {
    max-width: 1052px;
    padding-left: 175px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  text-align: start;

  @media (--not-mobile) {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 38.5px;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 30px;

  @media (--not-mobile) {
    grid-area: 2 / 1 / 4 / -1;
    margin-bottom: 0;
  }
}


.reviews__buttons {
  margin: 0;
}

.reviews__slider {
  @media (--not-mobile) {
    grid-area: 3 / 2 / 4 / -1;
    position: relative;
  }
}

.reviews__write {
  @media (--not-mobile) {
    grid-area: 1 / 2 / 2 / -1;
    max-height: 52px;
    margin-left: auto;
  }
}
