.site-sublist {
  list-style-type: none;
  padding: 0;
  position: relative;

  @media (--tablet) {
    display: none;
  }

  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: auto;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      width: 100vw;
      background-color: var(--bg-index, var(--second-color));
      box-shadow: 100vw 0 0 0 var(--bg-index, var(--second-color));
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      display: block;
      width: 100vw;
      height: 1px;
      background-color: #f1f1f1;
      box-shadow: 100vw 0 0 0 #f1f1f1;
    }
  }
}

.site-sublist__item {
  @media (--desktop) {
    margin-right: 63px;
  }
}

.site-sublist__link {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
  letter-spacing: 0.02rem;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: all 200ms ease-in;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in;
  }


  @media (--desktop) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
  }
}
