.site-sublist {
  list-style-type: none;
  padding: 0;
  z-index: 2;

  @media (--desktop) {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    margin: 0;
  }
}

.site-sublist__item {
  @media (--desktop) {
    margin-right: 31px;
  }
}

.site-sublist__link {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (--desktop) {
    padding-top: 32.5px;
    padding-bottom: 31.5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
  }
}
