.site-sublist {
  list-style-type: none;
  padding: 0;
}

.site-sublist__link {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  @media (--not-mobile) {
    padding: 21.5px 0;
  }
}
