.site-list {
  list-style-type: none;
  padding: 0;

  @media (--not-mobile) {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    margin: 0;
    z-index: 2;
  }

  @media (--desktop) {
    margin-left: 0;
  }
}

.site-list__item {
  @media (--not-mobile) {
    margin-right: 31px;
  }
}

.site-list a {
  @media (--mobile) {
    position: relative;
    display: block;
    padding-top: 28.5px;
    padding-bottom: 26.5px;
    padding-left: 76px;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    cursor: pointer;
  }
}


.site-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--not-mobile) {
    font-size: 15px;
    line-height: 1.6;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (--not-mobile) {
    padding-top: 32.5px;
    padding-bottom: 31.5px;
  }
}
