.site-sublist {
  list-style-type: none;
  padding: 0;
  position: relative;

  @media (--tablet) {
    display: none;
  }

  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: auto;

    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: -1;
      background-color: var(--second-color);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 100%;
      position: absolute;
      right: 0;
      z-index: -1;
      background-color: var(--second-color);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.site-sublist__item {
  @media (--desktop) {
    margin-right: 63px;
  }
}

.site-sublist__link {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
  letter-spacing: 0.02rem;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: all 200ms ease-in;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in;
  }


  @media (--desktop) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
  }
}
