.slider-reviews {
  display: flex;
  justify-content: space-between;

  @media (--not-mobile) {
    justify-content: end;
  }
}

.slider-reviews__previous {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  --icon: url("../../img/slider-arrow-left.svg");
  background-color: var(--main-color);
  border: none;
  box-sizing: border-box;
  display: block;

  @media (--mobile) {
    border: 1px solid #ececec;
    padding: 13px 42px 13px 38px;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  @media (--not-mobile) {
    justify-content: center;
    padding: 0;
    width: auto;
    margin-right: 37px;
  }


  &:hover::after {
    background: rgba(0, 0, 0, 0.6);
  }

  &:active::after {
    background: rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 26px;
    background: #000000;
    mask: var(--icon);
    box-sizing: border-box;
    cursor: pointer;
  }
}

.slider-reviews__next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  --icon: url("../../img/slider-arrow-right.svg");
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  box-sizing: border-box;

  @media (--mobile) {
    border: 1px solid #ececec;
    padding: 13px 42px 13px 38px;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  @media (--not-mobile) {
    width: auto;
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.6);
  }

  &:active::after {
    background: rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 26px;
    background: #000000;
    mask: var(--icon);
    box-sizing: border-box;
  }
}
