.user-list {
  list-style-type: none;
  padding: 0;
  background: var(--main-color);

  @media (--not-mobile) {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-end;
  }
}

.user-list__item {
  box-sizing: border-box;

  @media (--desktop) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 88px;
    box-sizing: border-box;
  }
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  letter-spacing: 0.03rem;

  @media (--mobile) {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 28.5px;
    padding-bottom: 26.5px;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    cursor: pointer;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: all 200ms ease-in;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in;
  }

  @media (--not-mobile) {
    padding-top: 32.5px;
    padding-bottom: 31.5px;
  }


  &--icon_search {
    --icon: url("../../icons/sprite.svg#search");
    background-repeat: no-repeat;
    background-position: center;

    @media (--not-mobile) {
      min-width: 82px;

      span {
        display: none;
      }
    }

    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background: #000000;
      mask: var(--icon);
      margin-right: 31px;
      margin-left: 30px;
    }

    &:hover::before {
      transition: all 200ms ease-in;
      background: #63d1bb;
    }

    &:active::before {
      transition: all 200ms ease-in;
      background: rgba(99, 209, 187, 0.3);
    }
  }

  &--icon_basket {
    --icon: url("../../icons/sprite.svg#basket");
    background-repeat: no-repeat;
    background-position: center;


    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background: #000000;
      mask: var(--icon) no-repeat;
      box-sizing: border-box;
      margin-right: 28px;
      margin-left: 32px;
      transition: all 200ms ease-in;
    }

    &:hover::before {
      transition: all 200ms ease-in;
      background: #63d1bb;
    }

    &:active::before {
      transition: all 200ms ease-in;
      background: rgba(99, 209, 187, 0.3);
    }
  }
}
