@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("/source/fonts/opensans.woff2") format("woff2"),
    url("/source/fonts/opensans.woff") format("woff");
}


@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("/source/fonts/opensansbold.woff2") format("woff2"),
    url("/source/fonts/opensansbold.woff") format("woff");
}

:root {
  --main-font: "Open Sans", sans-serif;
}
