<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pages[pageId].name }} | Мишка | HTML Academy</title>
  <link rel="stylesheet" href="./css/style.min.css">
  <script defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abe737fd5407db2382ec0460244a83536a12494a83442059e3a15feddfcf4c2e5&amp;width=100%25&amp;height=454&amp;lang=ru_RU&amp;scroll=true"></script>
</head>

<body class="page__body">
  {% include "./header.twig" %}

  {% block main %}{% endblock %}

  {% include "./footer.twig" %}

  {% include "./modal.twig" %}
</body>

</html>
