<div class="main-modal main-modal--close">
  <div class="main-modal__container">
    <form class="main-modal__form modal-form" action="https://echo.htmlacademy.ru/" method="post">
      <h3 class="modal-form__title">Добавить в корзину</h3>
      <div class="modal-form__buttons basket-button">
        <fieldset class="basket-button__field">
          <legend class="basket-button__title">Выберите размер:</legend>
          <ul class="basket-button__list">
            <li class="basket-button__item basket-button__item--size_s basket-button__item--current button-size">
              <label class="button-size__label" for="basket-button--size_s">s</label>
              <input class="button-size__control" type="radio" name="basket-size" value="size-s" id="basket-button--size_s">
            </li>
            <li class="basket-button__item basket-button__item--size_m button-size">
              <label class="button-size__label" for="basket-button--size_m">m</label>
              <input class="button-size__control" type="radio" name="basket-size" value="size-m" id="basket-button--size_m">
            </li>
            <li class="basket-button__item basket-button__item--size_l button-size">
              <label class="button-size__label" for="basket-button--size_l">l</label>
              <input class="button-size__control" type="radio" name="basket-size" value="size-l" id="basket-button--size_l">
            </li>
          </ul>
        </fieldset>
      </div>
      <button class="main-modal__button button-submit" type="submit">Добавить</button>
    </form>
  </div>
</div>
