@import "./global/media.scss";
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./blocks/page.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/line-decor.scss";
@import "./blocks/main-header.scss";
@import "./blocks/header-logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/user-nav.scss";
@import "./blocks/nav-container.scss";
@import "./blocks/site-list.scss";
@import "./blocks/site-sublist.scss";
@import "./blocks/user-list.scss";
@import "./blocks/heading.scss";
@import "./blocks/button.scss";
@import "./blocks/products.scss";
@import "./blocks/products-list.scss";
@import "./blocks/featured.scss";
@import "./blocks/product.scss";
@import "./blocks/card-label.scss";
@import "./blocks/product-specification.scss";
@import "./blocks/product-price.scss";
@import "./blocks/advantage.scss";
@import "./blocks/about.scss";
@import "./blocks/reviews.scss";
@import "./blocks/slider-reviews.scss";
@import "./blocks/quote.scss";
@import "./blocks/button-reviews.scss";
@import "./blocks/author.scss";
@import "./blocks/author-id.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/main-modal.scss";
@import "./blocks/modal-form.scss";
@import "./blocks/basket-button.scss";
@import "./blocks/button-size.scss";
@import "./blocks/header-form.scss";
@import "./blocks/order.scss";
@import "./blocks/form-order.scss";
@import "./blocks/info-form.scss";
@import "./blocks/fieldset-border.scss";
@import "./blocks/fieldset-grid.scss";
@import "./blocks/user-form.scss";
@import "./blocks/label-form.scss";
@import "./blocks/text-form.scss";
@import "./blocks/check.scss";
@import "./blocks/type-form.scss";
@import "./blocks/color-form.scss";
@import "./blocks/contact-details.scss";
@import "./blocks/required-note.scss";
@import "./blocks/catalog-page.scss";
@import "./blocks/catalog-title.scss";
@import "./blocks/cards-wrapper.scss";
@import "./blocks/catalog-products.scss";
@import "./blocks/card-product.scss";
@import "./blocks/description-list.scss";
@import "./blocks/description-wrapper.scss";
@import "./blocks/price-of-item.scss";
@import "./blocks/production.scss";
@import "./blocks/production-container.scss";
@import "./blocks/video-description.scss";
