{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<main>
  <section class="order">
      <h1 class="order__title heading header-form">Вязание на заказ</h1>
      <form class="order__form form-order" action="https://echo.htmlacademy.ru" method="post">
        <p class="form-order__text text-form">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
        <fieldset class="form-order__field-type type-form fieldset-border fieldset-grid">
          <legend class="type-form__title label-form fieldset-grid__title">Тип</legend>
          <ul class="type-form__list fieldset-grid__content">
            <li class="type-form__item">
              <label class="type-form__control">
                <input class="visually-hidden" type="radio" name="type-product" value="interior" checked>
                <span class="type-form__control-label type-form__control-label--radio">Аксессуар для интерьера</span>
              </label>
            </li>
            <li class="type-form__item">
              <label class="type-form__control">
                <input class="visually-hidden" type="radio" name="type-product" value="toy">
                <span class="type-form__control-label type-form__control-label--radio">Детская игрушка</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="form-order__field-color color-form fieldset-border fieldset-grid">
          <legend class="color-form__title label-form label-form fieldset-grid__title">Цвет</legend>
          <ul class="color-form__list fieldset-grid__content">
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="white" checked>
                <span class="color-form__control-label color-form__control-label--checkbox">Белый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="tiffany">
                <span class="color-form__control-label color-form__control-label--checkbox">Тиффани</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="pink">
                <span class="color-form__control-label color-form__control-label--checkbox">Розовый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="gray" checked>
                <span class="color-form__control-label color-form__control-label--checkbox">Серый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="black">
                <span class="color-form__control-label color-form__control-label--checkbox">Чёрный</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="orange">
                <span class="color-form__control-label color-form__control-label--checkbox">Оранжевый</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="form-order__field-user user-form fieldset-border fieldset-grid">
          <legend class="user-form__title label-form fieldset-grid__title">фио</legend>
          <ul class="user-form__list fieldset-grid__content">
            <li class="user-form__item">
              <label class="user-form__name" for="name">Имя:</label>
              <input class="user-form__value" type="text" id="name" placeholder="Введите ваше имя">
            </li>
            <li class="user-form__item">
              <label class="user-form__name" for="surname">Фамилия:</label>
              <input class="user-form__value"  type="text" id="surname" placeholder="Укажите фамилию">
            </li>
            <li class="user-form__item">
              <label class="user-form__name" for="middle-name">Отчество:</label>
              <input class="user-form__value" type="text" id="middle-name" placeholder="Отчество, если желаете">
            </li>
          </ul>
        </fieldset>
        <fieldset class="form-order__field-contacts contact-details fieldset-border">
          <legend class="contact-details__title"><span class="visually-hidden">Contact details</span></legend>
            <ul class="contact-details__list  ">
              <li class="contact-details__item tel-number fieldset-grid">
                <label class="tel-number__title label-form" for="tel-number">Тел</label>
                <input class="contact-details__value fieldset-grid__content" type="tel" name="tel-number" id="tel-number" placeholder="+7 ХХХ ХХХ ХХ ХХ">
              </li>
              <li class="contact-details__item email-form fieldset-grid">
                <label class="email-form__title label-form" for="email">e-mail</label>
                <input class="email-form__value fieldset-grid__content" type="email" id="email" placeholder="Ваш Emai">
              </li>
            </ul>
        </fieldset>
        <div class="form-order__field-info info-form fieldset-grid">
          <label class="info-form__title label-form" for="additional-info">Доп</label>
          <textarea class="info-form__text fieldset-grid__content" name="additional-info" id="additional-info" cols="30" rows="8" placeholder="Опишите все ваши пожелания к заказу"></textarea>
        </div>
        <span class="form-order__required-note required-note"><sup>*</sup>Поля обязательны для заполнения</span>
        <div class="form-order__button ">
          <button class="button" type="submit">Отправить заказ</button>
        </div>
      </form>
  </section>
</main>

{% endblock %}
