{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<main class="main-container">
  <section class="order">
    <div class="order__container">
      <h1 class="order__title">Вязание на заказ</h1>
      <form class="order__form form" action="https://echo.htmlacademy.ru" method="post">
        <p class="form__text">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
        <fieldset class="form__field-type type-form">
          <legend class="type-form__title">Тип</legend>
          <ul class="type-form__list">
            <li class="type-form__item">
              <label class="type-form__control">
                <input class="visually-hidden" type="radio" name="type-product" value="interior" checked>
                <span class="type-form__control-label type-form__control-label--radio">Аксессуар для интерьера</span>
              </label>
            </li>
            <li class="type-form__item">
              <label class="type-form__control">
                <input class="visually-hidden" type="radio" name="type-product" value="toy">
                <span class="type-form__control-label type-form__control-label--radio">Детская игрушка</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="form__field-color color-form">
          <legend class="color-form__title">Цвет</legend>
          <ul class="color-form__list">
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="white" checked>
                <span class="color-form__control-label color-form__control-label--checkbox">Белый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="tiffany">
                <span class="color-form__control-label color-form__control-label--checkbox">Тиффани</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="pink">
                <span class="color-form__control-label color-form__control-label--checkbox">Розовый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="gray" checked>
                <span class="color-form__control-label color-form__control-label--checkbox">Серый</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="black">
                <span class="color-form__control-label color-form__control-label--checkbox">Чёрный</span>
              </label>
            </li>
            <li class="color-form__item">
              <label class="color-form__control">
                <input class="visually-hidden" type="checkbox" name="color-product" value="orange">
                <span class="color-form__control-label color-form__control-label--checkbox">Оранжевый</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="form__field-user user-form">
          <legend class="user-form__title">фио</legend>
          <ul class="user-form__list">
            <li class="user-form__item">
              <label class="user-form__name" for="name">Имя:</label>
              <input class="user-form__value" type="text" id="name">
            </li>
            <li class="user-form__item">
              <label class="user-form__name" for="surname">Фамилия:</label>
              <input class="user-form__value" type="text" id="surname">
            </li>
            <li class="user-form__item">
              <label class="user-form__name" for="middle-name">Отчество:</label>
              <input class="user-form__value" type="text" id="middle-name">
            </li>
          </ul>
        </fieldset>
        <fieldset class="form__field-tel сontact-details">
          <legend class="сontact-details__title"><span class="visually-hidden">Contact details</span></legend>
            <ul class="сontact-details__list">
              <li class="сontact-details__item tel-number">
                <label class="tel-number__title" for="tel-number">Тел</label>
                <input class="сontact-details__value" type="tel" name="tel-number" id="tel-number">
              </li>
              <li class="сontact-details__item email-form">
                <label class="email-form__title" for="email">e-mail</label>
                <input class="email-form__value" type="email" id="email">
              </li>
            </ul>
        </fieldset>
        <div class="form__field-info info-form">
          <label class="info-form__title" for="additional-info">Доп</label>
          <textarea class="info-form__text" name="additional-info" id="additional-info" cols="30" rows="8"></textarea>
        </div>
        <span class="form__required-note"><sup>*</sup>Поля обязательны для заполнения</span>
        <div class="form__button">
          <button type="submit">Отправить заказ</button>
        </div>
      </form>
    </div>
  </section>
</main>

{% endblock %}
